In [37]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [38]:
dataset = pd.read_csv("CKD.csv")

In [39]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [40]:
dataset = pd.get_dummies(dataset,drop_first=True,dtype = int)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [41]:
dataset["classification_yes"].value_counts()

classification_yes
1    249
0    150
Name: count, dtype: int64

In [42]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [43]:
independent.shape

(399, 27)

In [44]:
dependent=dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [45]:
# split the dataset into training and test

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)

In [46]:
X_train

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
240,60.0,100.0,0.0,3.0,263.0,27.000000,1.300000,135.000000,4.300000,12.700000,...,1,1,0,0,1,1,1,1,0,0
218,57.0,80.0,0.0,0.0,120.0,48.000000,1.600000,137.528754,4.627244,11.300000,...,1,1,0,0,1,1,0,1,0,0
101,42.0,70.0,0.0,0.0,75.0,31.000000,1.200000,141.000000,3.500000,16.500000,...,1,1,0,0,0,0,0,1,0,0
311,66.0,70.0,1.0,0.0,248.0,30.000000,1.700000,138.000000,5.300000,12.518156,...,1,1,0,0,1,1,0,1,0,0
194,55.0,80.0,0.0,0.0,146.0,57.482105,3.077356,137.528754,4.627244,9.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,68.0,70.0,0.0,0.0,98.0,86.000000,4.600000,135.000000,3.400000,9.800000,...,1,1,0,0,1,1,1,0,1,0
192,54.0,90.0,1.0,0.0,150.0,18.000000,1.200000,140.000000,4.200000,12.518156,...,1,0,0,0,0,0,0,0,1,1
117,45.0,80.0,0.0,0.0,107.0,15.000000,1.000000,141.000000,4.200000,11.800000,...,1,0,0,0,0,0,0,1,0,0
47,30.0,80.0,0.0,0.0,89.0,42.000000,0.500000,139.000000,5.000000,16.700000,...,1,1,0,0,0,0,0,1,0,0
172,51.0,60.0,0.0,0.0,129.0,25.000000,1.200000,139.000000,5.000000,17.200000,...,1,1,0,0,0,0,0,1,0,0

In [47]:
X_test

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
132,46.000000,70.0,0.0,0.0,100.000000,47.0,0.5,142.000000,3.500000,16.400000,...,1,1,0,0,0,0,0,1,0,0
309,66.000000,90.0,2.0,0.0,153.000000,76.0,3.3,137.528754,4.627244,12.518156,...,1,1,0,1,0,0,0,0,0,0
334,69.000000,70.0,0.0,0.0,83.000000,42.0,1.2,139.000000,3.700000,16.200000,...,1,1,0,0,0,0,0,1,0,0
196,55.000000,100.0,1.0,4.0,297.000000,53.0,2.8,139.000000,4.500000,11.200000,...,1,1,0,0,1,1,0,1,0,0
246,60.000000,90.0,2.0,0.0,105.000000,53.0,2.3,136.000000,5.200000,11.100000,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,71.000000,70.0,0.0,0.0,81.000000,18.0,0.8,145.000000,5.000000,14.700000,...,1,1,0,0,0,0,0,1,0,0
168,50.000000,80.0,0.0,0.0,137.000000,46.0,0.8,139.000000,5.000000,14.100000,...,1,1,0,0,0,0,0,1,0,0
150,48.000000,100.0,0.0,0.0,103.000000,79.0,5.3,135.000000,6.300000,6.300000,...,1,1,0,0,1,0,1,0,0,0
392,51.492308,60.0,3.0,0.0,148.112676,34.0,1.2,137.528754,4.627244,10.800000,...,0,0,0,0,0,0,0,1,0,0
66,34.000000,60.0,0.0,0.0,91.000000,49.0,1.2,135.000000,4.500000,13.500000,...,1,1,0,0,0,0,0,1,0,0

In [48]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [49]:
from sklearn.ensemble import RandomForestClassifier

In [50]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],'max_features':['sqrt','log2'],'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3, n_jobs = -1, scoring = 'f1_weighted')


grid.fit(X_train, y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\91967\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1_weighted', verbose=3)

In [51]:
re = grid.cv_results_

In [52]:
print(grid.best_params_) # best parameter after tunning

{'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 100}

In [53]:
grid_predictions = grid.predict(X_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)

from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [54]:
from sklearn.metrics import f1_score
f1_macro = f1_score(y_test, grid_predictions, average = 'weighted')
print(f1_macro)

0.9849624060150376

In [55]:
print('Confusion Matrix\n', cm)

Confusion Matrix
 [[50  1]
 [ 1 81]]

In [56]:
print('Classification Report\n', clf_report)

Classification Report
               precision    recall  f1-score   support

           0       0.98      0.98      0.98        51
           1       0.99      0.99      0.99        82

    accuracy                           0.98       133
   macro avg       0.98      0.98      0.98       133
weighted avg       0.98      0.98      0.98       133

In [57]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, grid.predict_proba(X_test)[:,1])

0.9997608799617408

In [58]:
table = pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.046876,0.000002,0.015626,0.000004,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.981569,0.981014,0.962573,0.962264,0.981031,0.973690,0.009206,5
1,0.322293,0.007653,0.034375,0.006251,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.981569,0.961755,0.962573,0.981031,0.981031,0.973592,0.009336,6
2,0.034615,0.006331,0.015635,0.000008,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.945100,0.942166,0.962573,0.962264,0.981031,0.958627,0.014033,8
3,0.337685,0.025598,0.040606,0.007640,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",1.000000,0.961755,0.981217,0.981031,1.000000,0.984801,0.014284,1
4,0.040627,0.007654,0.018750,0.006249,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",1.000000,0.981014,0.981217,0.962264,0.981031,0.981105,0.011933,4
5,0.337917,0.012501,0.034375,0.006250,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.981569,0.981014,0.981217,0.962264,1.000000,0.981213,0.011935,3
6,0.040726,0.007530,0.015602,0.000044,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.981569,0.962264,0.981217,0.981031,1.000000,0.981216,0.011935,2
7,0.253124,0.026884,0.015626,0.000002,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.981569,0.942166,0.981217,0.962264,1.000000,0.973443,0.019672,7